.booking_main {
  height: 100vh;
}

.booking_row {
  height: 100%;
}

.booking_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 15%;
  min-height: 90%;
  margin-right: 20%;
}

.booking_content h1 {
  font-size: 50px;
  font-family: "Playfair Display";
  font-weight: 600;
}

.booking_image img {
  width: 100%;
  min-height: 90%;
}
