.slide_main {
  background-color: #fafafa !important;
  border: none !important;
  border-radius: 0 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.slide_img {
  border-radius: 0 !important;
}

.slide_btn {
  color: #b99a5f;
  border-radius: 5px;
}
