.slider_main {
  margin: 5% 9%;
}

.slider_title {
  text-align: center;
  font-size: 50px;
  font-family: "Playfair Display";
  margin-bottom: 20px;
}

.__slider .slick-prev {
  background: black;
  margin-right: 50px !important;
}

.__slider .slick-prev:hover {
  background: black;
  margin-right: 10px !important;
}

.__slider .slick-next {
  background: black;
}

.__slider .slick-next:hover {
  background: black;
}

.__slider .slick-list {
  margin-right: 2%;
  margin-left: 2%;
}
